.wrapper {
    background: var(--color-neutral-100);
    container-type: inline-size;
}

.sidebar{
    z-index: 40;
    background-color: var(--brand-main-500);
    position: absolute;
    left: 0rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 16rem;
}